// variables

$color-input-text: #000;
$color-placeholder: #767676;
$color-placeholder-hover: #000;
$color-placeholder-disabled: #ccc;
$color-label: green;
$color-label-focus: blue;
$color-border: #ddd;
$color-border-focus: blue;
$color-disabled-background: #f5f5f5;
$label-size: 14px;


// floating-label

.floating-label {
  position: relative;
  margin: 30px 0 40px;
}


// field

.floating-label__field {
  width: 100%;
  border: none;
  border: 1px solid transparent;
  border-bottom: 1px solid $color-border;
  padding: .5em;
  resize: none;
  color: $color-input-text;
  background: #fff;
}


// field disabled

.floating-label__field--disabled {
  cursor: not-allowed;
}


// field when in hover

.floating-label__field:hover {
  border: 1px solid $color-border;
}


// field when in hover and disabled

.floating-label__field--disabled:hover {
  border: 1px solid transparent;
  border-bottom: 1px solid $color-border;
}


// field when in focus

.floating-label__field:focus {
  border: 1px solid $color-border;
  border-bottom: 1px solid $color-border-focus !important;
  outline: none;
}


// field when in focus and valid - filled in

.floating-label__field:valid {
  border: 1px solid transparent;
  border-bottom: 1px solid $color-border;
  padding-left: 0;
}


// label

.floating-label__label {
  position: absolute;
  top: -15px;
  left: 0;
  opacity: 0;
  color: $color-label-focus;
  font-size: $label-size;
}


// label when in focus

.floating-label__field:focus + .floating-label__label {
  opacity: 1;

  transition: .5s ease;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}


// label when valid (filled in)

.floating-label__field:valid + .floating-label__label {
  opacity: 1;
  color: $color-label;

  transition: .5s ease;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}


// label when in focus and valid (filled in)

.floating-label__field:focus:valid + .floating-label__label {
  color: $color-label-focus;
}


// placeholder

::-webkit-input-placeholder {
  opacity: 1;
  color: $color-placeholder;
}

:-moz-placeholder {
  opacity: 1;
  color: $color-placeholder;
}

::-moz-placeholder {
  opacity: 1;
  color: $color-placeholder;
}

:-ms-input-placeholder {
  opacity: 1;
  color: $color-placeholder;
}


// placeholder hover

.floating-label__field:hover::-webkit-input-placeholder {
  color: $color-placeholder-hover;
}

.floating-label__field:hover:-moz-placeholder {
  color: $color-placeholder-hover;
}

.floating-label__field:hover::-moz-placeholder {
  color: $color-placeholder-hover;
}

.floating-label__field:hover:-ms-input-placeholder {
  color: $color-placeholder-hover;
}


// placeholder - become hidden when in focus

.floating-label__field:focus::-webkit-input-placeholder {
  opacity: 0;

  transition: 1s ease;
}

.floating-label__field:focus:-moz-placeholder {
  opacity: 0;

  transition: 1s ease;
}

.floating-label__field:focus::-moz-placeholder {
  opacity: 0;

  transition: 1s ease;
}

.floating-label__field:focus:-ms-input-placeholder {
  opacity: 0;

  transition: 1s ease;
}

// placeholder disabled

.floating-label__field--disabled::-webkit-input-placeholder,
.floating-label__field--disabled:hover::-webkit-input-placeholder {
  color: $color-placeholder-disabled;
}

.floating-label__field--disabled:-moz-placeholder,
.floating-label__field--disabled:hover:-moz-placeholder {
  color: $color-placeholder-disabled;
}

.floating-label__field--disabled::-moz-placeholder,
.floating-label__field--disabled:hover::-moz-placeholder {
  color: $color-placeholder-disabled;
}

.floating-label__field--disabled:-ms-input-placeholder,
.floating-label__field--disabled:hover:-ms-input-placeholder {
  color: $color-placeholder-disabled;
}
